@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #E7E7E7;
  font-size: 50px;

  @media (min-width: 768px) {
    font-size: 90px;
  }
}

h2 {
  color: #C2C2C2;
  font-size: 28px;
  letter-spacing: 1.5px;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

p {
  font-size: 15px;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 28px;
  }

  @media (min-width: 1920px) {
    font-size: 20px;
  }
}